* {
    padding: 0%;
    margin: 0%;
}

header {
    display:flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    background-color: #2b2b2b; 
    
}
footer {
    height: 5vh;
    background-color: #141415;
}

.botonHome {
    height: 12vh;
}

header img {
    height: 95%;
}

main {
    background-color: #646468;
}

section div{
    display: flex;
    align-items: center;
}

section div img {
    max-width: 350px;
    padding: 2% 3% 0% 3%;
}

h3{
    color: #f5f5f5;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 300%;
}

main section div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h4 {
    color: #f5f5f5;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 200%;
}

.abajo {
    padding-bottom: 2%;
}